.formSection {
  background: url(../img/sliderBg.jpg) no-repeat center top/cover;
  width: 100%;
  height: 550px; }

.formSection div {
  float: left; }

.form_item {
  height: 390px;
  width: 300px;
  background-color: #fff;
  border-radius: 25px;
  margin-left: 200px;
  margin-top: 100px;
  box-sizing: border-box; }

.balance {
  width: 500px;
  height: 300px;
  float: right;
  margin-top: 130px;
  margin-left: 250px; }

.balance h1 {
  font-family: OpenSans Bold, sans-serif;
  font-size: 48px;
  color: #ffffff;
  padding-bottom: 49px; }

.balance h2 {
  font-family: "Freestyle Script", sans-serif;
  font-size: 40px;
  color: #ffffff; }

.form_item input[type="text"], input[type="tel"], select {
  width: 230px;
  height: 40px;
  font-size: 14px;
  font-family: "OpenSans Regular", sans-serif;
  border-radius: 5px;
  margin: 0 0 15px 20px;
  box-sizing: border-box;
  background-color: #eae6e6;
  border: none; }

fieldset {
  border: none; }

fieldset legend {
  padding: 40px 30px;
  font-family: "Open Sans SemiBold", sans-serif;
  font-size: 24px;
  color: #5363db; }

.form_submit {
  font-family: "OpenSans Bold", sans-serif;
  font-size: 16px;
  padding: 8px 55px 8px 55px;
  background-color: #5e6ff6;
  border-radius: 10px;
  margin-left: 95px;
  color: white;
  border: none; }

.form_submit:hover {
  background-color: #8fa6f6; }

.form_item select {
  color: #727272; }

@font-face {
  font-family: Freestyle Script Regular;
  src: url(../fonts/Freestyle_Script.ttf); }

@font-face {
  font-family: OpenSans Bold;
  src: url(../fonts/OpenSans/OpenSans-Bold.ttf); }

@font-face {
  font-family: OpenSans Regular;
  src: url(../fonts/OpenSans/OpenSans-Regular.ttf); }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  font-size: 14px;
  color: #555555; }

ul li a:not(.altlogo):hover {
  border-bottom: 2px solid #5363db;
  color: #5363db; }

li {
  text-decoration: none;
  list-style: none;
  float: left;
  margin-right: 30px; }

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5; }

nav {
  width: 100%;
  height: 100px; }

ul {
  width: 815px;
  height: 100px;
  margin: 0 auto; }

ul li:nth-child(3) {
  margin-right: 0; }

ul li:not(.graficlogo) {
  margin-top: 31px; }

ul li:last-child {
  display: none; }

li.graficlogo {
  margin: 16px 125px; }

@media (max-width: 320px) {
  .logo li:not(:first-child) {
    display: none; }
  .logo.responsive li {
    margin-top: 15px; }
  .logo li.icon {
    float: right;
    display: block;
    margin-top: 32px; }
  .logo li.icon a {
    color: black;
    display: block; }
  .logo {
    width: 100%;
    height: 100px; }
  .logo.responsive {
    position: relative;
    display: block; }
  .logo.responsive li.icon a {
    position: absolute;
    top: 0;
    right: 0;
    text-align: left; }
  .logo.responsive li {
    float: none;
    display: block; }
  .logo .graficlogo a {
    display: none; } }
